{% comment %}
    Snippet to contain code for TrustPilot TrustBox that will be displayed on the Product Page. 
{% endcomment %}
<!-- TrustBox widget - Micro Star -->
<div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="6148788fab6a3b001d70308e" data-style-height="24px" data-style-width="270px" data-theme="light">
    <a href="https://uk.trustpilot.com/review/humanery.com" target="_blank" rel="noopener">Trustpilot</a>
  </div>
<!-- End TrustBox widget -->