<div class="container container--narrow">
    <header class="page__header page__header--centered">
        <h1 class="page__title heading h2">{{ page.title }}</h1>
    </header>
  
    <div class="page__content rte">

        <div class="nav-bar">
        <div class="nav-bar__item"><a href="#">Latest</a></div>
        <div class="nav-bar__item"><a href="#">Beginner's Guides</a></div>
        <div class="nav-bar__item"><a href="#">Discover Products</a></div>
        <div class="nav-bar__item"><a href="#">Lifestyle</a></div>
        </div>
        <p><span>
            Humanery is the definitive online destination for men to buy beauty, skincare and grooming products.
            Our marketplace offers premium products from various brands in haircare, skincare, beard &amp; shave and other categories.
            We also offer education, discovery and advice for men through our well researched and accessible Humans of Humanery Journal.
        </span></p>
        <p><span>
            <img src="https://cdn.shopify.com/s/files/1/0564/6784/9368/files/Humanery_0052_480x480.jpg?v=1627252237" alt="" />
        </span></p>
        <p> </p>
        <p><span>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-CeaBTYxaJE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        </span></p>

    </div>
</div>